.container {
  margin:8%;
}

.contain{
  max-width: 80%;
  padding: 50px;
  border: 2px solid grey;
  margin: auto;
  border-radius: 25px;
  box-sizing: content-box;
  padding-bottom: 100px;
}

body {
    font-family: Nunito, sans-serif;
    font-size: 12pt;
    color: black;
}

.header {
  padding: 40px;
}

h1, h2, h3 {
    font-family: Comfortaa, sans-serif;
    font-weight: bold;
}

p.widelines {
  line-height: 1.5;
}

a {
    color: #358BC6;
    text-decoration: none;
}

a:hover {
    color: #358BC6;
    text-decoration: underline;
}

.pop-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
}

#bttn:hover {
    background-color: #276b99;
    border-color: #276b99;
}
