.container {
    margin: 8%;
}

body {
    font-family: Nunito, sans-serif;
    font-size: 12pt;
    color: black;
}

h1, h3 {
    font-family: Comfortaa, sans-serif;
    font-weight: bold;
}

p.widelines {
  line-height: 1.5;
}

a {
    color: #358BC6;
    text-decoration: none;
}

a:hover {
    color: #358BC6;
    text-decoration: underline;
}

.pop-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
}

#bttn:hover {
    background-color: #276b99;
    border-color: #276b99;
}