.container {
    margin: 8%;
}

body {
    font-family: Nunito, sans-serif;
    font-size: 12pt;
    color: black;
}

h1, h3 {
    font-family: Comfortaa, sans-serif;
    font-weight: bold;
}
p.widelines {
  line-height: 1.5;
}
